@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;300;400;700;900&family=Libre+Franklin:wght@100;300;400;700;900&display=swap');



body {
    font-family: "Libre Franklin",sans-serif;
    background-color: #F0F0F0;
    color: #303030;
}

.to-home {
    text-decoration: none;
    color:#303030;
}

h1,
h2,
h3,
h4 {
    font-family: "Archivo", sans-serif;
}

.spacer {
    height: 2%;
}

/* DARK MODE */
.dark-mode {
    background-color: #303030;
    color: #F0F0F0;
}

p {
    font: arial;
    font-weight: 100;
    font-size: 120%;
}

.to-home-dark {
    text-decoration: none;
    color:#F0F0F0;
}

.wrap {
    width: 100%;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: 80px 30px 30px;
}

.right-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-darkmode {
    margin-left: auto; 
    margin-right: 0;
}

.navbar {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    list-style-type: none;
    font-size: larger;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
    color:#303030;
}

.navbar-dark a {
    text-decoration: none;
    color:#F0F0F0;
}

.navbar a:hover {
    color: dimgray
}

.header {
    display: flex;
    flex-direction: column;
}

.body-container {
    display: flex;
    flex-direction: column;
}

#intro {
    font-weight: 300;
    margin-bottom: 0;
}

#title {
    font-weight: 900;
    font-size: 400%;
    margin-top: 0;
    margin-bottom: 0;
}

#sub-title {
    font-size: 200%;
    margin-bottom: 0;
}

.skills-bar {
    display: flex;
    gap: .4%;
}

.skill {
    width:fit-content;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    color: #F0F0F0;
    color: transparent
}

#css {
    background-color: #52a7db;
}

#html {
    background-color: #e06d3c;
}

#javascript {
    background-color: #eabf4a;
}

#python {
    background-color: #306998;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.spacer {
    height: 25px;
}